.messaggio:hover .fa-chevron-down{
    display: block;
}

.delate ul li:hover{
    background-color: rgb(243, 243, 243);
}

li:hover{
    background-color: rgb(231, 231, 231);
}

i:hover{
    color: rgb(204, 198, 195);
}