<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.0/build/global/luxon.min.js"></script>
    

</head>
<body>
    
    <div id="container">

        <!-- container principale dell'applicazione -->
        <div id="app">

            <!-- colonna di sinistra con lista delle chat -->
            <div id="lista-chat" class="col-30" :class="darkMode === true ? 'dark' : '' ">

                <!-- dettagli utente app -->
                <div class="opzioni-chat" :class="darkMode === true ? 'dark' : '' ">
                    <!-- immagine profilo e nome -->
                    <div>
                        <img class="profile-pic" :src="userProfile.avatar" alt="">
                        <h3>{{userProfile.name}}</h3>
                    </div>

                    <!-- icone -->
                     <div>
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-circle-half-stroke" @click="setDarkMode"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                     </div>

                </div>

                <!-- ricezione notifiche -->
                <div id="notifiche">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div>
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>    
                </div>

                <!-- barra ricerca -->
                <div id="ricerca" :class="darkMode === true ? 'dark' : '' ">
                    <input class="formattazione-input" type="text" placeholder="&#xF002;    Cerca o inizia una nuova chat" style="font-family:Arial, FontAwesome" v-model="serchChat" @keyup.enter="filteredContacts" :class="darkMode === true ? 'light-dark' : '' ">
                </div>

                <!-- lista contatti -->
                <ul>

                    <li class="utente" v-for="(person, index) in filteredContacts" :key="index" @click="changeActiveChat(index)" :class="activeChat === index ? 'active' : '', darkMode === true ? 'dark' : '', darkMode === true && activeChat === index ? 'active-dark' : '' ">
                        <!-- foto profilo -->

                        <img class="profile-pic" :src="person.avatar" alt="">
                        
                        <!-- nome e ultimo messaggio -->
                        <div class="nome-utente">
                            <h3>{{person.name}}</h3>
                            <span class="dettagli">{{person.messages[person.messages.length - 1].message}}</span>
                        </div>
                        
                        <!-- orario -->
                        <div class="orario dettagli">
                            {{person.messages[person.messages.length - 1].date}}
                        </div>

                    </li>

                </ul>

            </div>
            
            <!-- colonna di destra con chat attiva -->
            <div id="chat-attiva" class="col-70">

                <div class="opzioni-chat" :class="darkMode === true ? 'dark' : '' ">
                    <!-- immagine profilo e nome -->
                    <div>
                        <img class="profile-pic" :src="contacts[activeChat].avatar" alt="">

                        <h3>{{contacts[activeChat].name}}</h3>
                    </div>

                    <!-- icone -->
                     <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                     </div>

                </div>

                <!-- conversazione -->
                <div id="finestra-conversazione" :class="darkMode === true ? 'light-dark' : '' ">

                    <div class="coversazione" v-for="(messaggio, index) in contacts[activeChat].messages">

                        <div :class="messaggio.status === 'sent' ? 'messaggio-utente' : 'risposta' ">
                            <span class="messaggio" :class="messaggio.status === 'sent' ? 'inviato' : 'ricevuto' ">
                                {{messaggio.message}}
                                <span class="dettagli">{{messaggio.date}}</span>
                            </span>
                        </div>

                    </div>

                </div>

                <div class="opzioni-chat" :class="darkMode === true ? 'dark' : '' ">
                    <i class="fa-regular fa-face-smile"></i>
                    <input class="formattazione-input" type="text" v-model="newMessage" @keyup.enter="addNevMessage" :class="darkMode === true ? 'light-dark' : '' ">
                    <i class="fa-solid fa-microphone" :class="newMessage !== '' ? 'hidden' : '' "></i>
                    <i class="fa-solid fa-paper-plane" :class="newMessage === '' ? 'hidden' : '' " @click="addNevMessage"></i>
                </div>

            </div>

            <button @click="moltoUtile">Clicca</button>

        </div>

    </div>

    <!-- JS -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>